<!DOCTYPE html>
<html>
<head>
	<title>Admin -Create Command</title>
</head>
<body>
	<h1>Create Command</h1> 
	<form action="/admin/command/create" method="post">
		<input type="text" name="email" placeholder="email"><br><br>			
		<input type="text" name="intent" placeholder="intent"><br><br>
		<input type="text" name="location" placeholder="location"><br><br>
		<input type="submit" value="send Command">
	</form>

</body>
</html>