<!DOCTYPE html>
<html>
<head>
	<title>Update </title>
</head>
<body>

<form action="/admin/relay/channel/update" method="post">
	<input type="text" name="name">
	<input type="text" name="channel_number">
	<input type="hidden" name="id" value="<%=channel.id%>">
	<input type="submit" value="update">

</form> 

</body>
</html>